#map {    
    height: 640px;    
    width: 100%;
    display: inline-block;
    }

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 
#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}

.legend-control-container {
    width: 150px;  
    height: 170px;  
    background-color: rgba(255,255,255,0.8);  
    padding-left: 10px;  
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
    border-radius: 10px;
}

.leaflet-popup-content p {
    margin: 0.2em 0; 
}
